*{
    margin: 0%;
    padding: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.head{
    height: 20vh;
    width: 99vw;
    color: rgb(0, 0, 0);
    display: flex;
}

.icon{

    margin-left: 12vw;
}



.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .7vw;
    font-weight: 100;
    margin-left: 35vw;
    margin-top: 3vh;
    gap: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    cursor: pointer;
}

h1:hover{
    color: rgba(0, 0, 0, 0.468);
}

.middle{
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-image: url(https://rapido-app-assets.storage.googleapis.com/66e1052cdca1e68cc52d070e8c9631aa_1736774712641.png);
    display: flex;
    align-items: center;
    justify-content: center;

}

.line{
    height: 70%;
    width: 40%;
    background-color: transparent;
    
    
 
}
.line1{
    
    height: 8vh;
    
    width:40vw;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    h{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 320%;
        font-weight: 800;
    }



}



.line2{
    height: 60px;
    width: 100%;
    margin-top: 50px;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.577);
    .ri-map-pin-2-fill{
        margin-left: 20px;
    }
    
}

.line3{
    height: 60px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0px 0px 5px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.577);

    .ri-drop-fill{
        margin-left: 20px;
    }
    

}

button{
    height: 60px;
    width: 100%;
    margin-top: 40px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #ffca20;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;

}


button:hover{
    box-shadow: 0px 0px 10px;

}


.ourservices{
    
    margin-left: 180px;
    font-size: 50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.803);
}


@media (max-width:600px) {
    
    .text{
        margin-left: 30px;
        font-size: 7px;
    }
    .icon{
        margin-left: 0px;
    }

    .middle{
        height: 200px;
        width: 100%;
    }

    .line{
        height: 100%;
        width: 100%;
    }
    
    .line1{     
        width: 100%;
        font-size: 10px;
    }

    .line2{
        margin-top: 20px;
    }
  
    .ourservices{
        margin-top: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        width: 200px;
        height: 50px;
        font-size: 30px;

        
    }
}



.secpage{
    height: 65vh;
    width: 100%;
}

.firstline{
    display: flex;
}

.firstline img{
    height: 17vh;
    width: 11vw;
    margin-top: 10vh;
    margin-left: 10vw;
}


.secline{
    display: flex;
    

}

.secline img{
    height: 17vh;
    margin-left: 10vw;
    width: 11vw;
    margin-top: 10vh;
}



.thirdpage{
    height: 80vh;
    width: 100%;
    background-color: rgb(241, 243, 246);
    display: flex;
}



.leftside{
    height: 100%;
    width: 50%;
    
   
}

h2{
    margin-top: 10vh;
    margin-left: 10vw;
    font-size: 8vh ;
    font-weight: 900;
}


h3{
    margin-top: 5vh;
    margin-left: 10vw;
    font-size: 4vh;
    font-weight: 100;
}

h4{
    height: 7vh;
    width: 14vw;
    margin-top: 5vh;
    margin-left: 10vw;
    cursor: pointer;
    margin-right: 28vw;
    background-color: #000000;
    color: #fff;
    font-size: 3vh;
    border-radius: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.rightside{
    height: 100%;
    width: 50%;
}


.im{
    margin-top: 5vh ;
}

.im img{
    height: 70vh;
    width: 35vw;
}



.forthpage{
    height: 80vh;
    width: 100%;
    background-color: rgb(241, 243, 246);
    display: flex;
}


.left1{
    height: 100%;
    width: 40%;

}

.in{
    margin-top: 5vh ;
    margin-left: 10vw;
}

.in img{
    height: 70vh;
    width: 35vw;
}



.right1{
    height: 100%;
    width: 60%;

}


.blackpage{
    height: 50vh;
    width: 100%;
    background-color: #000;
    color: #fff;

}

.daw{
    text-align: center;
    font-size: 7vh;
    padding-top: 5vh;
    font-weight: 900;
}


.pho{
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-weight: 900;
    font-size: 3vh;
    
}

.on{
    height: 20vh;
    width: 13vw;
    text-align: center;


}


.pho img{
    height: 12vh;
    width: 6vw;
    cursor: pointer;
}



.fifthpage{
    height: 70vh;
    width: 100%;
}
.logo{
    margin-top: 6vh;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 1.2px;
    gap: 3vw;
}

.logo img{
    height: 18vh;
    cursor: pointer;
}


.link{
    display: flex;
    height:50vh;
    width: 100%;
    background-color: #fff;
    color: #000;
    font-size: 2.5vh;
    box-shadow: 0px 0px 1.2px;
}


.fi{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.se{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
}

.th{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
}

kk{
    cursor: pointer;
}


.ll{
    margin-top: 2vh;
    height: 6vh;
    color: #00000087;
    margin-left: 2vw;
    font-weight: 700;
}

